/* @import 'tailwindcss'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Magnetic Pro Black';
  src: url('./fonts/magnetic-pro-black.woff2') format('woff2'),
    url('./fonts/magnetic-pro-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-light.woff2') format('woff2'),
    url('./fonts/magnetic-pro-light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-medium.woff2') format('woff2'),
    url('./fonts/magnetic-pro-medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro';
  src: url('./fonts/magnetic-pro-light-italic.woff2') format('woff2'),
    url('./fonts/magnetic-pro-light-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetic Pro Thin';
  src: url('./fonts/magnetic-pro-thin-italic.woff2') format('woff2'),
    url('./fonts/magnetic-pro-thin-italic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

body * {
  font-family: 'Magnetic Pro', 'HeiTi SC Light', 'Microsoft YaHei', sans-serif;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: sans-serif;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #ece9e4;
  font-size: 1rem;
}

#attendees {
  width: 200px;
  position: relative;
  font: inherit;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 3rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.25s ease;
  pointer: cursor;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:active,
  &:hover {
    transform: translateY(0.225em);
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;

    &:after {
      height: calc(100% + 0.225em);
    }
  }
}

.bg-lined-paper {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#f4f4f4 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
}

.bg-dotted-paper {
  background: radial-gradient(#cecece 15%, transparent 16%) 0 0,
    radial-gradient(#b9b9b9 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #f4f4f4;
  background-size: 16px 16px;
}

.logo {
  filter: brightness(0.5);
}
